* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #495057;
  --bs-body-font-family: var(--bs-font-sans-serif);
  font-size: 1.1rem;
}
html {
  width: 100%;
}
.mobile-header {
  background-color: #15639b;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.decstop-nav {
  display: none;
}
.logo-img {
  width: 50px;
}
/* the HAMBURGER MENU styling */
.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* The hidden hamburg menu */
.topnav {
  overflow: hidden;
  background-color: #ffd8a8;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #122232;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04aa6d;
  color: white;
}
/* the main Layout */
.About-me-box {
  display: flex;
}
.project-box {
  display: flex;
}
/* The hero image */
.me {
  width: 180px;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
  filter: drop-shadow(0 0 8px #514744);
}
header {
  width: 100vw;
}
.header-image {
  /* Set a specific height */
  background-image: linear-gradient(rgba(77, 75, 75, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1572721813976-60bb2b6ee530?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAyfHxidWxnYXJpYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");

  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  gap: 20px;
  height: 500px;
}

/* Place text in the middle of the image */
.header-text {
  color: #e7f5ff;
  font-size: 2rem;
  width: 30%;
  padding: 5px;
}
span {
  display: inline-block;
  background-color: #1971c2;
  color: #ffe8cc;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 5px;
}

.hero-text-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #30302f;
  font-weight: bold;

  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;

  border: none;

  margin-top: 10px;
}
.hero-text-button:hover {
  cursor: pointer;
  background-color: lightblue;
}
.modal .hero-text-button,
.inactive-btn {
  padding: 4px 0;
  width: 120px;
}

.modal .hero-text-button,
.inactive-btn,
.learn-more:hover {
  cursor: pointer;
  background-color: #1971c2;
  color: #ffe8cc;
  font-weight: bold;
}

/* the nav bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 50px;
  background-color: #1864ab;

  text-transform: uppercase;
  font-weight: lighter;
}
ul li a {
  color: #ffe8cc;
  text-decoration: none;
  font-size: large;
}
ul li a {
  margin: 3px;
  height: 40px;
}
/* The what I do section */
.header-1 {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #1971c2;
}
.what-I-do {
  background-image: linear-gradient(#f4c58fee, rgba(98, 96, 96, 0.5)),
    url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNraWxsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-left: auto;
  padding: 30px;
  height: 250px;
  color: #343a40;
}

.the-box {
  display: flex;
  flex-direction: column;
}
.title-box {
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
}

.svg-btn {
  width: 25px;
}
/* what I do section */
.how-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}
.section-h2 {
  text-align: center;
  font-size: 2rem;
  margin: 34px 0;
}
.how-img {
  width: 100%;
}
.congrat {
  text-align: center;
  margin: 37px 0;
}
.congrat h2 {
  color: tomato;
  text-transform: uppercase;
}
/* the about me section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-top: 50px;
}
.header-2 {
  margin-top: 50px;
  text-align: center;
}
.project-box {
  display: flex;
  gap: 30px;
  margin-bottom: 90px;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(122, 90, 70, 0.644);
}
.div1,
.div2,
.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 26px 20px;
  background-image: linear-gradient(rgba(77, 75, 75, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1571666521805-f5e8423aba9d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHByb2plY3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: #e7f5ff;
  height: 250px;
  border-bottom: 1px solid #fff;
}
.arrows {
  display: flex;
  align-items: center;
  gap: 280px;
}
.hidden-div {
  display: none;
}
.div-images-projects {
  max-width: 250px;
  border-radius: 5px;
}
.about-mepic {
  width: 150px;
}
.code-icon {
  width: 24px;
}
.learn-more,
.send-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #ffe8cc;
  background-color: #1864ab;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 10px;
}
/* the about me section */
.about-me {
  width: 80%;
  margin: 0 auto;

  color: #1864ab;
  margin-bottom: 50px;
  padding: 30px 50px;
  border-radius: 5px;
}
.header--2 {
  text-align: center;
  color: #212529;
}
.h3-title {
  margin-bottom: 10px;
}
.about-me-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
ul li {
  list-style: none;
  padding: 10px;
}
.about-me-img {
  width: 300px;
  border-radius: 5px;
}
/* skills section */
.skills {
  background-color: lightgrey;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color: #212529;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10px;
}
.meeting-img {
  width: 300px;
  border-radius: 5px;
}
.working-img {
  width: 250px;
  border-radius: 5px;
}
.global-absolute-2 {
  position: absolute;
  top: 40px;
  left: 140px;
}
.left-column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.global-absolute {
  position: absolute;
  left: 30%;
  top: 61%;
  background-color: #ffe8cc;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
  color: #1864ab;
  border-radius: 5px;
}
/* .skills-1 {
}
.skills-2 {
  position: absolute;
  top: 50%;
  left: 30%;
} */

/* the form */
form {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 5px 10px;
  margin: 0 auto;
}
input {
  width: 200px;
  height: 30px;
  border: none;
  border: 1px solid #1864ab;
  border-radius: 5px;
}

.footer {
  background-color: #212529;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-right: 30px;
}
.icon {
  width: 24px;
  stroke: #3e3c38;
}
.tel,
.email {
  display: flex;
  gap: 10px;
}
.left-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fab {
  font-size: 40px;
  color: #dfd9d0;
  background-color: rgb(44, 43, 43);

  border-radius: 10px;
}
/*  */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: #ffe8cc;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h3 {
  text-align: center;
  color: #1864ab;
  margin-bottom: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* the hamburger icon  */
@media screen and (max-width: 768px) {
  .how-cont {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 88%;
    gap: 5px;
  }
  .title-box {
    max-width: 40%;
  }
  .nav-bar {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .how-cont {
    max-width: 80%;
    flex-direction: row;
  }
  .title-box {
    max-width: 20%;
  }
  .hamburger {
    display: none;
  }
  .desctop-header {
    display: contents;
  }
  .footer {
    flex-direction: row;
  }
  .left-div {
    flex-direction: column;
  }
}
