* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: -#122232;
  --bs-body-font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  /* background-color: #c6c9cad6; */
}
html {
  width: 100%;
}
.mobile-header {
  background-color: #86c5ff;
  display: flex;
  justify-content: space-between;
}
.desctop-header {
  display: none;
}
.decstop-nav {
  display: none;
}
.logo-img {
  width: 50px;
}
/* the HAMBURGER MENU styling */
.hamburger {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
/* The hidden hamburg menu */
.topnav {
  overflow: hidden;
  background-color: #c0831e;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #122232;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04aa6d;
  color: white;
}
/* the main Layout */
.About-me-box {
  display: flex;
}
.project-box {
  display: flex;
}
/* The hero image */
.me {
  width: 180px;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
  filter: drop-shadow(0 0 8px #514744);
}
header {
  width: 100vw;
}
.header-image {
  /* Set a specific height */
  background-image: url("https://images.unsplash.com/photo-1581291518633-83b4ebd1d83e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fGRlc2lnbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");

  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  gap: 20px;
  height: 300px;
  margin-bottom: 20px;
}

/* Place text in the middle of the image */
.header-text {
  color: #e7f5ff;
  font-size: 1.8rem;
  width: 70%;
  padding: 5px;
}
span {
  display: inline-block;
  background-color: #122232;
  color: #ffe8cc;
  font-weight: bold;
  border-radius: 2px;
  text-transform: capitalize;
  padding: 12px;
}

.hero-text-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #122232;
  background-color: #86c5ff;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: 600;
  border-radius: 2px;

  margin-top: 10px;
}
.hero-text-button:hover {
  cursor: pointer;
  background-color: lightblue;
}
.modal .hero-text-button,
.inactive-btn {
  padding: 4px 0;
  width: 120px;
}

.modal .hero-text-button,
.inactive-btn,
.learn-more:hover {
  cursor: pointer;
  background-color: #1971c2;
  color: #ffe8cc;
  font-weight: bold;
}

/* the nav bar */
.nav-bar {
  display: none;
}
ul li a {
  color: #ffe8cc;
  text-decoration: none;
  font-size: large;
}
ul li a {
  margin: 3px;
  height: 40px;
}
/* Section SKILLS */
.header-1 {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #1971c2;
}
.first-section {
  font-size: 1rem;
  color: #122232;
  padding: 24px;
}

.what-I-do {
  background-image: url("https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA0fHx0ZWNoJTIwc2tpbGxzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-left: auto;
  padding: 30px;
  height: 250px;
  color: #e7f5ff;
  width: 80%;
}
.what-I-do:hover {
  background-image: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNraWxsc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.the-box {
  display: flex;
  flex-direction: column;
}

.svg-btn {
  width: 25px;
}
/* what I do section */
.how-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.mobile-div {
  background-color: #c8cfd66f;
  color: #122232;
  margin: 0 auto;
}
.section-h2 {
  text-align: center;
  font-size: 1.4rem;
  margin: 34px 0;
  padding-top: 16px;
}
.how-img {
  width: 100%;
}

.resume {
  background-image: linear-gradient(#86c4ff9b, rgba(46, 99, 156, 0.5)),
    url("https://images.unsplash.com/photo-1457694587812-e8bf29a43845?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZG9jdW1lbnRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  height: 250px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 2px;
}
.resume a {
  color: #e7f5ff;
}
.resume:hover {
  background-color: url("https://images.unsplash.com/photo-1457694587812-e8bf29a43845?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZG9jdW1lbnRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.internship-div {
  padding: 24px;
}
.internship {
  width: 100%;
  border-radius: 2px;
}
.how-cont {
  display: flex;
}
/* the about me section */

.header-2 {
  margin-top: 50px;
  text-align: center;
}
.project-box {
  display: flex;
  gap: 30px;
  margin-bottom: 90px;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(122, 90, 70, 0.644);
}
.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 26px 20px;
  background-image: linear-gradient(rgba(77, 75, 75, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1555949963-aa79dcee981c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njl8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: #e7f5ff;
  height: 250px;
  border-bottom: 1px solid #fff;
}
.arrows {
  display: flex;
  align-items: center;
  gap: 280px;
}
.hidden-div {
  display: none;
}
.div-images-projects {
  max-width: 250px;
  border-radius: 5px;
}
.about-mepic {
  width: 150px;
}
.code-icon {
  width: 24px;
}
.learn-more,
.send-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #122232;
  background-color: #86c5ff;;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 10px;
}
/* the about me section */
.about-me {
  width: 80%;
  margin: 0 auto;

  color: #1864ab;
  margin-bottom: 50px;
  padding: 30px 50px;
  border-radius: 5px;
}
.header--2 {
  text-align: center;
  color: #212529;
}
.h3-title {
  margin-bottom: 10px;
}
.about-me-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
ul li {
  list-style: none;
  padding: 10px;
}
.about-me-img {
  width: 300px;
  border-radius: 5px;
}
/* skills section */
.skills {
  background-color: c;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color: #212529;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10px;
}
.global-absolute-2 {
  position: absolute;
  top: 40px;
  left: 140px;
}
.left-column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.global-absolute {
  position: absolute;
  left: 30%;
  top: 61%;
  background-color: #ffe8cc;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
  color: #1864ab;
  border-radius: 5px;
}

/* the form */
form {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 5px 10px;
  margin: 0 auto;
}
input {
  background-color: #646769;
  width: 100%;
  height: 35px;
  border: none;
  padding-left: 10px;
}
#message {
  height: 180px;
}
/* Div1 */
.div1 {
  height: 250px;
}
/* my story */
/* .my-pic {
  background-image: url("./az2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 250px;
  width: 50%;
  color: #e7f5ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-pic:hover {
  background-image: url("https://scontent.fltn2-1.fna.fbcdn.net/v/t1.6435-9/134460388_100290238689302_4222604143970725228_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_ohc=ig6rRjo0HagAX_GdkLk&_nc_ht=scontent.fltn2-1.fna&oh=00_AfA6_IWhCO3Q2qbwPVr2vkUWwl5DYFYDTyLbiE2dBQJITg&oe=638BDABF");
  cursor: pointer;
} */
.my-pic {
  width: 180px;
}

/* FOOTER */
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 90%;
  padding: 16px;
}
.skills-footer {
  padding: 16px;
  font-size: 1rem;
}
.footer {
  background-color: #122232;
  color: #e7f5ff;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}
.form {
  max-width: 100%;
  padding: 16px;
}
.icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-right: 30px;
}
.icon {
  width: 24px;
  stroke: #e7f5ff;
}
.tel,
.email {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
}
.left-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
  font-size: 0.7rem;
}
.fab {
  font-size: 40px;
  color: #dfd9d0;
  background-color: rgb(44, 43, 43);

  border-radius: 10px;
}
/*  */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: #ffe8cc;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.modal h3 {
  text-align: center;
  color: #1864ab;
  margin-bottom: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.text-story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
}
.myimg-div {
  padding: 24px;
}
.form h2 {
  margin-left {
    8px;
  }
}
/* the hamburger icon  */
@media screen and (min-width: 768px) {
  .desctop-header {
    display: none;
  }
  .mobile-heeader {
    align-items: center;
  }

  .header-image {
    height: 64%;
  }
  .header-text {
    font-size: 1.4rem;
    width: 60%;
  }
  .ipad-sec-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 76%;
    margin: 24px auto;
  }
  .first-section {
    width: 60%;
  }
  .resume {
    width: 40%;
    height: 200px;
  }
  .internship-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    width: 86%;
    margin: 0 auto;
    /* border: 7px solid #122232; */
  }
  .work-exp {
    width: 60%;
  }
  .work-pic {
    width: 50%;
  }
  .how-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px auto;
    padding: 8px;
  }
  .title-box {
    width: 38%;
  }
  .footer {
    flex-direction: row;
    width: 100%;
  }
  .form {
    min-width: 45%;
  }
  .right-div {
    min-width: 45%;
  }
  #message {
    height: 80px;
  }

  .my-story {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 36px;
    margin: 36px auto;
    width: 76%;
  }
  .contact-me {
    max-width: 480px;
    margin: 0 auto;
    border: 1px solid rgb(162, 162, 163);
    padding: 24px;
  }
}
@media screen and (min-width: 900px) {
  .mobile-header {
    display: none;
  }
  .desctop-header {
    display: contents;
    display: flex;
    gap: 32px;
    flex-direction: row;
    background-color: #122232;
  }
  .header-text {
    font-size: 2rem;
  }
  .nav-bar {
    display: contents;
  }
  .header-image {
    height: 400px;
    margin-bottom: 98px;
  }
  .ipad-sec-one {
    margin-bottom: 98px;
  }
  .title-box {
    width: 24%;
  }
  .how-cont {
    width: 90%;
    justify-content: space-around;
  }
  .title-box {
    width: 34%;
    padding: 24px;
    gap: 10px;
  }
  .internship-div {
    margin-bottom: 98px;
  }
  .work-pic {
    width: 36%;
  }
  .how-img {
    width: 280px;
  }
  .mobile-div {
    margin-bottom: 98px;
  }
  .my-story {
    display: flex;
    width: 56%;
  }
  .footer {
    margin-top: 98px;
  }
  .footer-icon {
    width: 52px;
  }
  .skills-icons {
    display: flex;
    gap: 12px;
  }
  .icons {
    margin-left: 18px;
  }
  .left-div {
    width: 42%;
  }
  .bi-person-workspace {
    width: 42px;
  }
  .contact-me {
    max-width: 900px;
    padding: 48px;
    margin-bottom: 50px;
  }
   .contact-form{
    width: 480px;
  }

}
