* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #212529;
  --bs-body-font-family: var(--bs-font-sans-serif);
  font-size: 1.1rem;
}
body,
html {
  height: 100%;
}
/* the main Layout */
.About-me-box {
  display: flex;
}
.project-box {
  display: flex;
}
/* The hero image */
.me {
  width: 180px;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
  filter: drop-shadow(0 0 8px #514744);
}
.header-image {
  /* Set a specific height */
  background-color: #ffe8cc;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 90%;
}

/* Place text in the middle of the image */
.header-text {
  color: rgb(82, 79, 79);
  font-size: 2rem;
  width: 30%;
  padding: 5px;
}
span {
  display: inline-block;
  background-color: #1971c2;
  color: #ffe8cc;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 5px;
}
.header-text a button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #ffe8cc;
  font-weight: bold;
  background-color: rgb(46, 44, 44);
  border: 1px solid#ffe8cc;
  text-align: center;
  width: 120px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: uppercase;

  margin-top: 10px;
}

.header-text button,
.learn-more:hover {
  cursor: pointer;
  background-color: #1971c2;
  color: #ffe8cc;
  font-weight: bold;
}

/* the nav bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 50px;
  background-color: #1864ab;

  text-transform: uppercase;
  font-weight: lighter;
}
ul li a {
  color: #ffe8cc;
  text-decoration: none;
  font-size: large;
}
ul li a {
  margin: 3px;
  height: 40px;
}
/* The what I do section */
.header-1 {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #1971c2;
}
.what-I-do {
  background-image: url("https://images.unsplash.com/photo-1605918321755-0b5ffd8a796a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-left: auto;
  padding: 30px;
  height: 400px;
  color: #ffe8cc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.the-boxes {
  display: flex;
}
.title-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 30px;
}
.title {
  color: white;
}
.title-box {
  width: 30%;
}
/* the about me section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-top: 50px;
}
.header-2 {
  margin-top: 50px;
  text-align: center;
}
.project-box {
  display: flex;
  gap: 30px;
  margin-bottom: 90px;
}
.left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div1,
.div2,
.div3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 36px 20px;
}
.div-images-projects {
  max-width: 250px;
  border-radius: 5px;
}
.about-mepic {
  width: 150px;
}
.code-icon {
  width: 24px;
}
.learn-more,
.send-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 20px;
  color: #ffe8cc;
  background-color: #1864ab;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 10px;
}
/* the about me section */
.about-me {
  width: 80%;
  margin: 0 auto;
  background-color: #ffe8cc;
  color: #1864ab;
  margin-bottom: 50px;
  padding: 30px 50px;
  border-radius: 5px;
}
.header--2 {
  text-align: center;
  color: #212529;
}
.h3-title {
  margin-bottom: 10px;
}
.about-me-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
ul li {
  list-style: none;
  padding: 10px;
}
.about-me-img {
  width: 300px;
  border-radius: 5px;
}
/* skills section */
.skills {
  background-image: url("https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color: #ffe8cc;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10px;
}
.meeting-img {
  width: 300px;
  border-radius: 5px;
}
.working-img {
  width: 250px;
  border-radius: 5px;
}
.global-absolute-2 {
  position: absolute;
  top: 40px;
  left: 140px;
}
.left-column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.global-absolute {
  position: absolute;
  left: 30%;
  top: 61%;
  background-color: #ffe8cc;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 10px;
  color: #1864ab;
  border-radius: 5px;
}
/* .skills-1 {
}
.skills-2 {
  position: absolute;
  top: 50%;
  left: 30%;
} */

/* the form */
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
input {
  width: 200px;
  height: 30px;
  border: none;
  border: 1px solid green;
  border-radius: 4px;
}
.footer {
  background-color: #212529;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-left: 30px;
}
.icons {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-right: 30px;
}
.icon {
  width: 24px;
  stroke: #3e3c38;
}
.tel,
.email {
  display: flex;
  gap: 10px;
}
.left-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fab {
  font-size: 40px;
  color: #dfd9d0;
  background-color: rgb(44, 43, 43);

  border-radius: 10px;
}
/* the hamburger icon  */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 600px;
  }
  header {
    width: 100%;
  }
  .project-box {
    flex-direction: column;
    align-items: center;
  }
  .About-me-box {
    width: 100%;
    flex-direction: column;
  }
  .aboutme-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    width: 100%;
  }

  #form-box {
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
}
@media screen and(max-width: 450px) {
  header {
    width: 100vw;
  }
  .aboutme-info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .work-experiance {
    flex-direction: column;
    width: 50%;
    margin-bottom: 30px;
  }
  .mobile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }
}
